<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/category.scss" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Assignment 3</title>
</head>

<body>
    <div class="topnav">
        <% if (typeof authenticatedUser !=='undefined' ) { %>
            <a href="/users/dashboard">Dashboard</a>
            <a href="/Orchids?i=<%= authenticatedUser.id%>">Orchids</a>
            <% } else { %>
                <a href="/Orchids">Orchids</a>
                <% } %>
                    <% if (typeof authenticatedUser !=='undefined' ) { %>
                        <a class="active" href="/categories?i=<%= authenticatedUser.id%>">Categories</a>
                        <% } else { %>
                            <a class="active" href="/categories">Categories</a>
                            <% } %>
                                <% if (typeof authenticatedUser !=='undefined' ) { %>
                                    <a href="/accounts?i=<%= authenticatedUser.id%>">Accounts</a>
                                    <% } else { %>
                                        <a href="/accounts">Accounts</a>
                                        <% } %>
    </div>

    <% if (authenticatedUser.isAdmin) { %>
        <div class="create-category">
            <form method="post" action="http://localhost:8080/categories">
                <input type="text" name="i" value="<%= authenticatedUser.id%>" hidden />
                <div class="field">
                    <label class="label">Create category:</label>
                    <div class="control">
                        <input class="input" name="categoryName" type="text" placeholder="Input category name...."
                            required>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <% } %>

            <div class="category-container">
                <h2>Category List</h2>
                <% if (typeof arrCategories !=='undefined' ) { %>
                    <% arrCategories.forEach(function(category, index) { %>
                        <div class="category-item">
                            <span>
                                <%= category.categoryName %>
                            </span>
                            <div class="form-container">
                                <!-- Update Form -->
                                <form action="/categories/?_method=PUT" method="post">
                                    <input type="text" name="i" value="<%= authenticatedUser.id%>" hidden />
                                    <input type="hidden" name="id" value="<%= category._id %>">
                                    <label for="updateCategoryName">Update Category Name No.<%= index+1 %></label>

                                    <% if(typeof category !=='undefined' ) { %>
                                        <input type="text" id="updateCategoryName" name="categoryName"
                                            value="<%= category.categoryName %>" required>
                                        <input type="text" name="currentName" value="<%= category.categoryName %>"
                                            hidden />
                                        <% } else { %>
                                            <input type="text" name="categoryName" />
                                            <input type="text" name="currentName" value="" hidden />
                                            <% } %>
                                                <button type="submit">Update</button>
                                                <% if (typeof error !=='undefined' ) { %>
                                                    <% if (typeof error.isDup !=='undefined' ) { %>
                                                        <div class="error-message"
                                                            id="updateErrorMessage<%= category._id %>">
                                                            <% if (typeof errCateId !=='undefined' ) { %>
                                                                <% if (category._id==errCateId) { %>
                                                                    <%= error.isDup %>
                                                                        <% } %>
                                                                            <% } %>
                                                        </div>
                                                        <% } %>
                                                            <% } %>
                                </form>

                                <!-- Delete Form -->
                                <form action="/categories/<%= category._id %>?_method=DELETE" method="post">
                                    <input hidden name="id" value="<%= category._id %>" />
                                    <input hidden name="i" value="<%= authenticatedUser.id%>" />
                                    <button type="submit">Delete</button>
                                    <% if (typeof error !=='undefined' ) { %>
                                        <% if (typeof error.deleteFailed !=='undefined' ) { %>
                                            <div class="error-message" id="deleteErrorMessage<%= category._id %>">
                                                <% if (typeof errCateId !=='undefined' ) { %>
                                                    <% if (category._id==errCateId) { %>
                                                        <%= error.deleteFailed %>
                                                            <% } %>
                                                                <% } %>
                                            </div>
                                            <% } %>
                                                <% } %>
                                </form>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
            </div>

            <!-- Success -->
            <% if (typeof isSuccess !=='undefined' ) { %>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Success!!
                </div>
                <% } %>
</body>

</html>