<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.scss" />
    <link rel="stylesheet" href="/css/product.scss" />
    <link rel="stylesheet" href="/css/productDetail.scss" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
    <script>
        // When the user clicks on <div>, open the popup
        function myFunction(index) {
            console.log('test: ', index);
            let popup = document.getElementById(`myPopup${index}`);
            popup.classList.toggle("show");

            document.getElementById(`delete-form${index}`).addEventListener("submit", function (event) {
                // Prevent the form from submitting
                event.preventDefault();
                let orchidId = event.target.elements.orchidId.value;
                console.log('check here');
                fetch(`/Orchids/${orchidId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json(); // Parse the JSON in the response
                    })
                    .then(data => {
                        if (!data.deleteSuccess) {
                            let errorMessage = ''
                            if (data.error) {
                                errorMessage += data.error;
                            }
                            alert('Error list:\n' + errorMessage)
                        } else {
                            alert('Delete success');
                            location.href = 'http://localhost:8080/Orchids';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        }

        function splitString(inputString) {
            // Sử dụng hàm split để cắt chuỗi thành mảng dựa trên ký tự "&&"
            const resultArray = inputString.split("&&");

            // Nếu mảng có ít nhất 3 phần tử
            if (resultArray.length >= 2) {
                const orchidId = resultArray[0];
                const userId = resultArray[1];
                return { orchidId, userId };
            } else {
                // Nếu không đủ phần tử, trả về null hoặc giá trị mặc định tùy vào yêu cầu của bạn
                return null;
            }
        }

        function getSelectedValue() {
            // Get the select element
            const selectElement = document.getElementById("mySelect");

            // Get the selected option
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            // Get the value of the selected option
            const selectedValue = selectedOption.value;

            const response = fetch(`http://localhost:8080/api/orchids/${selectedValue}`, {
                method: 'GET',
                headers: { 'content-type': 'application/json' },
            }).then((res) => {
                if (res.ok) {
                    return res.json();
                }
            }).then((data) => {
                console.log('check res: ', data.data.category.categoryName);
                const orchid = data.data;

                document.getElementById('orcName').value = orchid.name;
                document.getElementById('imgURL').value = orchid.image;
                document.getElementById('orcOrigin').value = orchid.origin;
                document.getElementById('orcNatural').value = orchid.isNatural == true ? 'true' : 'false';
                const selectTag = document.getElementById('orcCategory');
                selectElement.querySelector
                const optionElement = selectTag.selectElement.querySelector(`[value="${orchid.category.categoryName}"]`)
                if (optionElement) {
                    optionElement.setAttribute('selected', 'selected');
                }
                return data;
            })
            // document.getElementById('currentName').value = orchid.name;
            // document.getElementById('image').value = orchid.image;
            // console.log('here: ', orchid.category);
        }

        const handleUpdateForm = () => {
            document.getElementById("update-form").addEventListener("submit", function (event) {
                // Prevent the form from submitting
                event.preventDefault();
                let orchid = {};
                orchid.id = event.target.elements.id.value;
                orchid.name = event.target.elements.orchidName.value;
                orchid.currentName = event.target.elements.currentName.value;
                orchid.image = event.target.elements.image.value;
                orchid.price = event.target.elements.price.value;
                orchid.origin = event.target.elements.origin.value;
                orchid.isNatural = event.target.elements.isNatural.value;
                orchid.color = event.target.elements.color.value;
                fetch('/Orchids', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(orchid)
                })
                    .then(response => {
                        return response.json(); // Parse the JSON in the response
                    })
                    .then(data => {
                        // Access the data returned from the server
                        console.log('arrOrchids:', data.arrOrchids);
                        console.log('isUpdate:', data.isUpdate);
                        console.log('check err: ', data.errorUpdate);
                        if (!data.isUpdate) {
                            let errorMessage = ''
                            if (data.errorUpdate.isEmptyName) {
                                errorMessage += data.errorUpdate.isEmptyName + '\n';
                            }
                            if (data.errorUpdate.isEmptyImg) {
                                errorMessage += data.errorUpdate.isEmptyImg + '\n';
                            }
                            if (data.errorUpdate.isEmptyPrice) {
                                errorMessage += data.errorUpdate.isEmptyPrice + '\n';
                            }
                            if (data.errorUpdate.invalidPrice) {
                                errorMessage += data.errorUpdate.invalidPrice + '\n';
                            }
                            if (data.errorUpdate.isEmptyorigin) {
                                errorMessage += data.errorUpdate.isEmptyorigin + '\n';
                            }
                            if (data.errorUpdate.isEmptyNatural) {
                                errorMessage += data.errorUpdate.isEmptyNatural + '\n';
                            }
                            if (data.errorUpdate.isEmptyColor) {
                                errorMessage += data.errorUpdate.isEmptyColor + '\n';
                            }
                            if (data.errorUpdate.isDup) {
                                errorMessage += data.errorUpdate.isDup + '\n';
                            }
                            if (data.errorUpdate.invalidId) {
                                errorMessage += data.errorUpdate.invalidId + '\n';
                            }
                            alert('Error list:\n' + errorMessage)
                        } else {
                            alert('Update Success!')
                            location.href = 'http://localhost:8080/Orchids';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }, { once: true });
        }

        const handleCreateForm = () => {
            document.getElementById("create-form").addEventListener("submit", function (event) {
                // Prevent the form from submitting
                event.preventDefault();
                let orchid = {};
                orchid.name = event.target.elements.orchidName.value;
                orchid.image = event.target.elements.image.value;
                orchid.price = event.target.elements.price.value;
                orchid.origin = event.target.elements.origin.value;
                orchid.isNatural = event.target.elements.isNatural.value;
                orchid.color = event.target.elements.color.value;
                fetch('/Orchids', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(orchid)
                })
                    .then(response => {
                        return response.json(); // Parse the JSON in the response
                    })
                    .then(data => {
                        // Access the data returned from the server
                        console.log('isSuccess:', data.isSuccess);
                        console.log('check err: ', data.error);
                        if (!data.isSuccess) {
                            let errorMessage = ''
                            if (data.error.isEmptyName) {
                                errorMessage += data.error.isEmptyName + '\n';
                            }
                            if (data.error.isEmptyImg) {
                                errorMessage += data.error.isEmptyImg + '\n';
                            }
                            if (data.error.isEmptyPrice) {
                                errorMessage += data.error.isEmptyPrice + '\n';
                            }
                            if (data.error.invalidPrice) {
                                errorMessage += data.error.invalidPrice + '\n';
                            }
                            if (data.error.isEmptyorigin) {
                                errorMessage += data.error.isEmptyorigin + '\n';
                            }
                            if (data.error.isEmptyNatural) {
                                errorMessage += data.error.isEmptyNatural + '\n';
                            }
                            if (data.error.isEmptyColor) {
                                errorMessage += data.error.isEmptyColor + '\n';
                            }
                            if (data.error.isDup) {
                                errorMessage += data.error.isDup + '\n';
                            }
                            alert('Error list:\n' + errorMessage)
                        } else {
                            alert('Create Success!')
                            location.href = 'http://localhost:8080/Orchids';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }, { once: true });
        }
    </script>
</head>

<body>
    <div class="topnav">
        <% if (typeof authenticatedUser !=='undefined' ) { %>
            <a class="active" href="/Orchids?i=<%= authenticatedUser.id %>">Orchids</a>
            <% } else { %>
                <a class="active" href="/Orchids">Orchids</a>
                <% } %>
                    <% if (typeof authenticatedUser !=='undefined' ) { %>
                        <a href="/categories?i=<%= authenticatedUser.id %>">Categories</a>
                        <% } else { %>
                            <a href="/categories">Categories</a>
                            <% } %>
    </div>

    <div style="display: flex;">
        <!-- Search form -->
        <div class="create-form">
            <h2>Search Orchid</h2>
            <form action="/Orchids/name/" method="get">
                <input type="text" name="i" value="<%= authenticatedUser.id %>" hidden />
                <div class="input-group">
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <% if (authenticatedUser.isAdmin) { %>
        <div class="row-buttons">
            <a href="/orchids/create?i=<%= authenticatedUser.id %>" class="button button-create">Create Page</a>
        </div>
        <% } %>

            <!-- List orchids -->
            <% if (typeof arrOrchids !=='undefined' ) { %>
                <div class="container">
                    <% arrOrchids.forEach(function(orchid, index) { %>
                        <form id="delete-form<%= index %>" class="product" action="/Orchids/<%= orchid._id %>"
                            method="get">
                            <input type="hidden" name="i" value="<%= authenticatedUser.id %>">
                            <input type="text" hidden value="orchidById" />
                            <div class="product-left">
                                <div class="images" style="background-image: url(<%= orchid.image %>);">
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-top">
                                    <p class="product-collection">Orchid Collection</p>
                                    <h1 class="product-name">
                                        <%= orchid.name %>
                                    </h1>

                                    <p>State: <%= orchid.origin %>
                                    </p>
                                    <p>Natural: <%= orchid.isNatural %>
                                    </p>
                                </div>
                                <div class="product-bottom">
                                    <button type="submit">Detail</button>
                                </div>
                            </div>
                        </form>
                        <% }) %>
                </div>
                <% } else { %>
                    <p>Nothing to show</p>
                    <% } %>

                        <!-- Success -->
                        <% if (typeof isSuccess !=='undefined' ) { %>
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                Success!!
                            </div>
                            <% } %>
</body>

</html>